extends layout

block content
  h1= title

  | <form method="post" enctype="multipart/form-data">
  p
    label Name:
    input(name='name')

  p 
    label Colors:
    input(name='colors')

  p 
    label Submit:
    input(type="submit", name="submit")
  | </form>
